.top-nav {

}

.sidebar {
  height: 100vh;
  /*width: 150px;*/
  float: left;
  background-color: grey;
}

.link {
  float: right;
  display: block;
}

#title {
  text-align: center;
}

ul#inline-list {
  list-style: none;
  padding-bottom: 30px;
}

ul#inline-list li {
  display: inline;
  float: right;
}
